body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.calculator {
    width: 60%;
}

.display {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history {
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.clear-history-button {
    margin-top: 30px;    
}

.button-row {
    display: flex;
}

.button {
    flex: 1;
    margin: 5px;
}
